body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.first-sec {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  width: 100%;
  padding: 20px;
}
.left {
  width: 50%;
  padding-left: 50px;
}
.right {
  width: 50%;
}
.right img {
  width: 70%;
}
span {
  color: #2995e2;
}
.bold-txt {
  font-family: "Cairo" sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 93px;
  text-align: left;
  color: #242424;
  width: 100%;
}
.sub-txt {
  font-family: "Cairo" serif;
  font-size: 19px;
  font-weight: 600;
  line-height: 35.61px;
  text-align: left;
  color: #3f3f3f;
}
.get-started-btn {
  width: 143px;
  height: 44px;
  background: #2995e2;
  font-family: "Cairo" serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 29.98px;
  text-align: center;
  color: #ffffff;
  border: none;
  margin-top: -3px;
  margin-left: -5px;
}
.btn-overlap-border {
  border: 1px solid #4e4e4e;
  width: 143px;
  height: 44px;
}
main {
  border-left: 1px solid #8e8e8e;
  border-right: 1px solid #8e8e8e;
}

.navbar {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #8e8e8e;
  padding-bottom: 10px;
}
.logo {
  padding-top: 10px;
}
.links {
  display: flex;
  list-style: none;
  gap: 20px;
}
.links li {
  display: inline;
}
a {
  text-decoration: none;
  font-family: Cairo;
  font-size: 15px;
  font-weight: 600;
  line-height: 28.11px;
  text-align: left;
  color: #3f3f3f;
}
.sign-up-btn {
  width: 130px;
  height: 44px;
  background: #ffffff;
  font-family: Cairo;
  font-size: 16px;
  font-weight: 600;
  line-height: 29.98px;
  text-align: center;
  color: #3f3f3f;
}
@media (max-width: 576px) {
  .first-sec {
    display: flex;
    flex-direction: column-reverse;
  }
  .bold-txt {
    font-size: 29.03px;
    line-height: 44.99px;
    text-align: center;
  }
  .left {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
  main {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right {
    width: 100%;
  }
  .sub-txt {
    font-size: 13.19px;
    line-height: 24.72px;
    text-align: center;
  }
}
